---
title: Xiyue Zhang
layout: layouts/home.njk
description: Discover the Innovate World of Xiyue Zhang
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
<div id="tcomment"></div>
<script src="https://cdn.staticfile.org/twikoo/1.6.8/twikoo.all.min.js"></script>
<script>
      twikoo.init({
        envId: 'https://my-twikoo-euyix.vercel.app/',
        el: '#tcomment', // 容器元素
        // path: location.pathname, // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
        lang: 'en-US', // 用于手动设定评论区语言，支持的语言列表 https://github.com/imaegoo/twikoo/blob/main/src/client/utils/i18n/index.js
      })
</script>
